<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.leizhou.mapper.UsersMapper">
    <resultMap id="ResultMap" type="com.leizhou.dto.Users">

    </resultMap>

    <select id="selectAll" resultMap="ResultMap">
        select * from users;
    </select>

    <select id="selectOne" resultMap="ResultMap">
        select  * from users where id = #{id};
    </select>
</mapper>